*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-evenly;

}
.nav-logo{
    height: 40px;
    width: 100px;

}
.logo{
    background-image: url("b15.png");
    background-size: cover;
    height: 50px;
    width: 80%;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;

}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/** box2 **/

.add-first{
    color:beige;
    font-size: 0.85rem;
    margin: 10px;
}
.add-second{
    font-size: 1rem;
    margin-bottom: 10px;
}
.add-icon{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
/** box4 **/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    width: 620px;
    height: 40px;
    border-radius: 3px;
}
.search-select{
    background-color: blanchedalmond;
    width: 50px;
    text-align: center;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 500px;
    font-size: 1rem;
    border: none;

}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(204, 118, 6);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;

}
.nav-search:hover{
    border: 2px solid orangered;
}
/* box 4 */

span{
    width: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/* box6 */
.nav-cart i {
    font-size: 30px;
}
.nav-cart{
    font-size: 0.7rem;
    font-weight: 700;
}
/* panel */
.panel{
    height: 40px;
    background-color: gray;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    

}
.panel-ops p {
    display: inline-block;
    margin: 10px;

}
.panel-ops {
    width: 70%;
        font-size: 0.85rem;
}
.panel-deals {
    font-size: 0.85rem;
    font-weight: 700;
}
/* hero section */
.hero-section {
    height: 600px;
   background-image: url("b18.jpeg");
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.hero-msg{
    background-color: rgba(148, 138, 138, 0.356);
    color: rgb(156, 6, 6);
    height: 40px;
    
    justify-content: right;
    position: absolute;

    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin-bottom: 25px;
}
/* shop section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: gray;
}
.box{
    border: 2px solid black;
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 10px;
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.box-content{
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
}
.box-content p {
    color: blue;
}
footer{
    margin-top: 15px;
    width: 100%;
}

.foot-panel1{
    background-color: rgb(97, 92, 97);
    height: 50px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    display: inline-block;
   background-color: #222f3d;
   color: white;
   height: 300px;
   align-items: center;
   justify-content: center;
   width: 24.78%;

}
ul{
    margin: 15px;
}
.ul a{
    /* color:blueviolet; */
    font-size: 0.85rem;
    margin-top: 10px;
    color:azure;
    display: flex;
}
.foot-panel3{
    background-color: #222f3d;
    display: flex;
    border: 0.5px solid white;
    height: 70px;
    justify-content: center;
    align-items: center;
}
.logo1{
        background-image: url("b14.jpg");
        background-size: cover;
        display: flex;
        height: 50px;
        width: 80px;
    }
    .foot-panel4{
        background-color: black;
        color: white;
        height: 100px;

    }
    .pages{
        font-size: 0.7rem;
        text-align: center;
        padding: 25px;

    }
    .copyright{
        font-size: 0.7rem; 
        text-align: center;
        padding: 5px;
    }